/* overall cleanup */
body, button { font: 12pt/1 Helvetica, "Comic Sans", "Comic Sans MS", cursive }
hgroup { text-align: center }
.adminList {
	padding:0;
	list-style: none;
	width: 80%;
	max-width: 800px;
	min-width: 400px;
	margin: 0 auto;
}
.adminList > li {
	border:solid 1px black;
	margin-bottom: 10px;
	padding: 0 10px 10px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#screenLayout {
	display:block;
	height: 200px;
	width: 100%;
}
.ui-widget { font-size: 62.5% !important }
input[type='text'] {
	border: 0; color: #f6931f; font-weight: bold; width: 50px
}
h3 { padding: 5px; margin-top:12px; }