/* overall cleanup */
body, button { font: 12pt/1 Helvetica, "Comic Sans", "Comic Sans MS", cursive }
hgroup { text-align: center }
input[type='text'] {
	border: 0; color: #f6931f; font-weight: bold; width: 50px
}
h3 { padding: 5px; margin-top:12px; }

.adminList {
	padding:0;
	list-style: none;
	width: 80%;
	max-width: 800px;
	min-width: 400px;
	margin: 0 auto;
}
.ui-widget { font-size: 80% !important }

#btn_reset,#btn_save { 
	float: right;
	margin-left: 5px;
}
#screenLayout {
	display: block;
	height: 200px;
	padding: 0 2.2em;  /*mimic accordion*/ 
	margin-bottom: 10px;
}