/* overall cleanup */
body, button { font: 12pt/1 Helvetica, "Comic Sans", "Comic Sans MS", cursive }
hgroup { text-align: center }
.adminList {
	padding:0;
	list-style: none;
	width: 80%;
	max-width: 800px;
	min-width: 400px;
	margin: 0 auto;
}
.adminList > li {
	border:solid 1px black;
	margin-bottom: 10px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#screenLayout {
	display:block;
	height: 200px;
	width: 100%;
}
.ui-widget { font-size: 62.5% !important }