/* overall cleanup */
* {
	margin: 0px;
	padding: 0px;
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body { font: 12px/1 Helvetica, "Comic Sans", "Comic Sans MS", cursive; }
#canvas { display:block }
.links.left { left:0 }
.links.right { right:0 }
.links:link, .links:visited {
	position: absolute;
	bottom: 0;
	padding: 5px 7px;
	margin: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(230,230,230,.3);
	color: rgba(200,200,200,.3);
	text-decoration: none;
}
.links:hover, .links:active {
	background-color: rgba(230,230,230,.7);
	color: rgba(130,130,130,.7);
}
#adminNum {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 180px;
	width: 200px;
	margin: -90px 0 0 -100px;
	text-align: center;
	line-height: 180px;
	font-size: 120px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: rgba(230,230,230,.7);
	color: rgba(130,130,130,.7);
}